.container1 {
  margin: 0 28px;
}

.nav__top {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__hr {
  margin-top: 20px;
  cursor: ns-resize;
}

.nav__bottom {
  margin-top: 20px;
}

.nav__logo {
  color: #22202E;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  cursor: pointer;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}

.nav__item {
  color: #726E8D;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.nav__icons2 {
  display: none;
}

.nav__search {
  cursor: progress;
}

@media screen and (max-width: 1400px) {
  .container1 {
    margin: 0 28px;
  }
}

@media screen and (max-width: 1200px) {
  .container1 {
    margin: 0 26px;
  }
}

@media screen and (max-width: 992px) {
  .container1 {
    margin: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .nav__icons, .nav__search, .nav__hr, .hero {
    display: none;
  }
  .nav__icons2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
  .container1 {
    margin: 0 22px;
  }
  .nav__bottom {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .container1 {
    margin: 0 20px;
  }
}

.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;
}

.footer .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
}

.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 109px;
}

.footer .footer__menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.footer .footer__item {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer .footer__items {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer .footer__input--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__input {
  padding: 17px 280px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer .footer__btn {
  cursor: pointer;
  background: #fff;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  padding: 16px 32px;
}

.footer .footer__hr {
  background: #4e4d93;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.footer .footer__bottom--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__bootom__icons--text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.footer .footer__bootom__icons__wraper--icon {
  font-size: 24px;
}

.footer .footer__bottom--title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1303px) {
  .footer .footer__input {
    padding: 17px 180px 17px 32px;
  }
}

@media screen and (max-width: 1200px) {
  .footer .footer__info {
    gap: 100px;
  }
  .footer .footer__menu {
    gap: 59px;
  }
  .footer .footer__input {
    padding: 17px 100px 17px 32px;
  }
}

@media screen and (max-width: 1024px) {
  .footer .footer__input {
    padding: 17px 30px 17px 32px;
  }
  .footer .footer__info {
    gap: 70px;
  }
  .footer .footer__menu {
    gap: 49px;
  }
}

@media screen and (max-width: 870px) {
  .footer .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .footer .footer__info {
    gap: 150px;
  }
  .footer .footer__menu {
    gap: 100px;
  }
}

@media screen and (max-width: 770px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer .footer__info {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__menu {
    gap: 96px;
  }
  .footer .footer__hr {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .footer .footer__bootom__icons__wraper--icon {
    display: none;
  }
  .footer .footer__bootom__icons--text {
    margin: auto;
  }
  .footer .footer__input {
    padding: 17px 55px 17px 32px;
  }
  .footer .footer__btn {
    font-size: 11px;
  }
}

@media screen and (max-width: 450px) {
  .footer .footer__input {
    padding: 17px 30px 17px 32px;
    font-size: 11px;
  }
  .footer .footer__icons {
    display: none;
  }
  .footer .footer__bottom--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .footer .footer__input {
    padding: 17px 10px 17px 32px;
    font-size: 11px;
  }
}

.hero {
  margin-top: 20px;
  background-image: url("../../imgs/Hero_Blocks.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: crosshair;
}

.hero__box {
  width: 630px;
  height: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 61px 46px 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
  cursor: alias;
}

.hero__title {
  color: #22202e;
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  /* 44.8px */
  cursor: context-menu;
}

.hero__text {
  margin-top: 20px;
  color: #5b5676;
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  cursor: copy;
}

.hero__btn {
  margin-top: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background: #f9f9f9;
  color: #2a254b;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border: none;
  cursor: pointer;
}

.hero__d {
  display: none;
}

.hero__box--d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 68px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  background: #fff;
  cursor: alias;
}

.hero__title--d {
  width: 341px;
  color: #2a254b;
  font-size: 24px;
  font-weight: 400;
  cursor: context-menu;
}

.hero__text--d {
  width: 341px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  cursor: copy;
}

.hero__btn--d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #2a254b;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  cursor: pointer;
}

.img2 {
  background-size: cover;
  margin-top: 32px;
  cursor: crosshair;
}

@media screen and (max-width: 768px) {
  .hero__d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero {
    display: none;
  }
}

.service__title {
  margin-top: 80px;
  color: #2a254b;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  /* 33.6px */
  text-align: center;
  cursor: context-menu;
}

.service__wrap {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  padding: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  background: #f9f9f9;
}

.service__icon {
  cursor: progress;
}

.service__text {
  width: 209px;
  color: #2a254b;
  font-family: Clash Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  cursor: help;
}

.service__info {
  width: 195px;
  color: #2a254b;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  cursor: -webkit-grab;
  cursor: grab;
}

@media screen and (max-width: 1400px) {
  .service__box {
    margin-top: 26px;
  }
}

@media screen and (max-width: 768px) {
  .service__box {
    width: 332px;
  }
}

@media screen and (max-width: 576px) {
  .service__title {
    font-size: 20px;
    width: 254px;
    text-align: start;
  }
  .service__info {
    width: 264px;
  }
}

.card__wrap {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  cursor: crosshair;
}

.card__title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  cursor: context-menu;
}

.card__price {
  margin-top: -16px;
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  cursor: not-allowed;
}

.card__btn {
  margin: 0 auto;
  margin-top: 48px;
  width: 170px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #f9f9f9;
  cursor: pointer;
}

.card__d {
  display: none;
}

.card__wrap--d {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__box--d {
  margin-top: 20px;
  cursor: crosshair;
}

.card__img--d {
  cursor: cell;
}

.card__title--d {
  margin-top: 24px;
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  cursor: context-menu;
}

.card__price--d {
  margin-top: 8px;
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  cursor: not-allowed;
}

.card__btn--d {
  margin: 0 auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 342px;
  padding: 16px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  background: #f9f9f9;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card__d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card {
    display: none;
  }
}

@media screen and (max-width: 405px) {
  .card__btn--d {
    width: 342px;
  }
}

.input {
  background-image: url("../../imgs/Emailsign-up.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  background-color: #f9f9f9;
  padding-top: 52px;
  padding-bottom: 65px;
  cursor: crosshair;
}

.input__wrap {
  padding-top: 68px;
  padding-bottom: 54px;
}

.input__title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  /* 50.4px */
  margin-bottom: 16px;
  cursor: context-menu;
}

.input__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  max-width: 470px;
  margin: auto;
  cursor: move;
}

.input__int {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: alias;
}

.input__input {
  padding: 17px 205px 17px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
  border: none;
  cursor: text;
}

.input__btn {
  padding: 16px 32px;
  background: #2a254b;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  height: 56px;
  cursor: pointer;
}

.input__radio {
  margin-top: 30px;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
  line-height: 150%;
  /* 24px */
  cursor: copy;
}

.input__check {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  cursor: pointer;
}

.input__r {
  fill: #fff;
  background-blend-mode: multiply;
}

.input__w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 756px) {
  .input {
    margin-top: 38px;
    padding-top: 48px;
    padding-bottom: 36px;
    background-color: #fff;
  }
  .input__wrap {
    padding: 0;
  }
  .input__title {
    text-align: start;
    margin: 0;
    font-size: 20px;
  }
  .input__text {
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 13px;
  }
  .input__int {
    text-align: start;
    margin-top: 64px;
  }
  .input__input {
    padding: 17px 6px 17px 25px;
    font-size: 10px;
  }
  .input__btn {
    font-size: 10px;
    padding: 16px 40px;
  }
  .input__radio {
    font-size: 16px;
  }
}

@media screen and (max-width: 568px) {
  .input__radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: start;
    font-size: 16px;
    margin-top: 20px;
    gap: 8px;
  }
}

.about .container {
  margin: 10px;
}

.about__wrap {
  margin: 0 75px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__box {
  width: 604px;
  height: 478px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 75px 50px 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #2a254b;
}

.about__title {
  width: 380px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  cursor: context-menu;
}

.about__text {
  width: 500px;
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: not-allowed;
}

.about__btn {
  margin-top: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  background: rgba(249, 249, 249, 0.15);
  border: none;
}

.about__img2 {
  display: none;
}

@media screen and (max-width: 1425px) {
  .about__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__box {
    width: 634px;
  }
  .about__img {
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .about__box {
    width: 342px;
    height: 281px;
    padding: 36px 32px 30px 32px;
  }
  .about__wrap {
    margin-top: 60px;
  }
  .about__img {
    display: none;
    cursor: crosshair;
  }
  .about__img2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    cursor: crosshair;
  }
  .about__title {
    font-size: 20px;
    width: 309px;
    cursor: context-menu;
  }
  .about__text {
    font-size: 14px;
    width: 258px;
    cursor: not-allowed;
  }
  .about__btn {
    margin-top: 56px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    cursor: pointer;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 80px;
}

input, button {
  border: none;
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 0 70px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 65px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 55px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 34px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 24px;
  }
}
