.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;

  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer__info {
    display: flex;
    gap: 150px;
  }
  .footer__menu {
    display: flex;
    gap: 109px;
  }
  .footer__menu1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer__item {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .footer__items {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .footer__input--wrap {
    display: flex;
    justify-content: center;
  }
  .footer__input {
    padding: 17px 280px 17px 32px;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .footer__btn {
    cursor: pointer;
    background: #fff;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding: 16px 32px;
  }
  .footer__hr {
    background: #4e4d93;
    height: 1px;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .footer__bottom--wrap {
    display: flex;
    justify-content: space-between;
  }
  .footer__bootom__icons--text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .footer__icons {
    display: flex;
    gap: 24px;
  }
  .footer__bootom__icons__wraper--icon {
    font-size: 24px;
  }
  .footer__bottom--title {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (max-width: 1303px) {
.footer{
  .footer__input{
    padding: 17px 180px 17px 32px;

  }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .footer__info {
      gap: 100px;
    }
    .footer__menu {
      gap: 59px;
    }
    .footer__input {
      padding: 17px 100px 17px 32px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    .footer__input {
      padding: 17px 30px 17px 32px;
    }
    .footer__info {
      gap: 70px;
    }
    .footer__menu {
      gap: 49px;
    }
  }
}
@media screen and (max-width: 870px) {
  .footer {
    .footer__wrap {
      flex-direction: column;
      gap: 40px;
    }
    .footer__info {
      gap: 150px;
    }
    .footer__menu {
      gap: 100px;
    }
  }
}
@media screen and (max-width: 770px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;

    .footer__info {
      gap: 30px;
      flex-direction: column;
    }
    .footer__menu {
      gap: 96px;
    }
    .footer__hr {
      margin-top: 16px;
      margin-bottom: 20px;
    }
    .footer__bootom__icons__wraper--icon {
      display: none;
    }
    .footer__bootom__icons--text {
      margin: auto;
    }
    .footer__input {
      padding: 17px 55px 17px 32px;
    }
    .footer__btn {
      font-size: 11px;
    }
  }
}
@media screen and (max-width: 450px) {
  .footer {
    .footer__input {
      padding: 17px 30px 17px 32px;
      font-size: 11px;
    }
    .footer__icons {
      display: none;
    }
    .footer__bottom--wrap {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 375px) {
  .footer {
    .footer__input {
      padding: 17px 10px 17px 32px;
      font-size: 11px;
    }
  }
}
