.container1{
    margin: 0 28px;
}
.nav__top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__hr{
    margin-top: 20px;
    cursor:ns-resize;
}
.nav__bottom{
    margin-top: 20px;
}
.nav__logo {
    color: #22202E;
font-size: 24px;
font-weight: 400;
cursor: pointer;
}
.nav__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px; 
}
.nav__item {
color: #726E8D;
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
cursor: pointer;
}
.nav__icons2{
    display: none;
}
.nav__search{
    cursor:progress;
}
@media screen and (max-width: 1400px) {
.container1 {
margin: 0 28px;
}
}
@media screen and (max-width: 1200px) {
.container1 {
margin: 0 26px;
}
}
@media screen and (max-width: 992px) {
.container1 {
margin: 0 24px;
}
} 
@media screen and (max-width:768px) {
    .nav__icons,.nav__search,.nav__hr,.hero{
        display: none;
    }
    .nav__icons2{
        display: flex;
        gap: 20px;
        cursor: pointer;
    }
    .container1{
    margin: 0 22px;
    }
    .nav__bottom{
        display: none;
    }
}
@media screen and (max-width:576px) {
.container1{
    margin: 0 20px;
}
}
