.about {
  .container {
    margin: 10px;
  }

  &__wrap {
    margin: 0 75px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // gap: 16px;
    // align-items: center;
    flex-wrap: wrap;
  }
  &__box {
    width: 604px;
    height: 478px;
    display: flex;
    padding: 64px 75px 50px 64px;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
    background: #2a254b;
  }
  &__title {
    width: 380px;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    cursor: context-menu;
  }
  &__text {
    width: 500px;
    margin-top: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: not-allowed;
  }
  &__btn {
    margin-top: 205px;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    background: rgba(249, 249, 249, 0.15);
    border: none;
  }
  &__img2 {
    display: none;
  }
}
@media screen and (max-width: 1425px) {
  //XXXL
  .about {
    &__wrap {
      justify-content: center;
    }
    &__box {
      width: 634px;
    }
    &__img {
      margin-top: 24px;
    }
  }
}
@media screen and (max-width: 768px) {
  .about {
    &__box {
      width: 342px;
      height: 281px;
      padding: 36px 32px 30px 32px;
    }
    &__wrap {
      margin-top: 60px;
    }
    &__img {
      display: none;
      cursor: crosshair;
    }
    &__img2 {
      display: flex;
      margin-top: 24px;
      cursor: crosshair;
    }
    &__title {
      font-size: 20px;
      width: 309px;
      cursor: context-menu;
    }
    &__text {
      font-size: 14px;
      width: 258px;
      cursor: not-allowed;
    }
    &__btn {
      margin-top: 56px;
      width: 100%;
      justify-content: center;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
