.card {
  &__wrap {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // gap: 20px;
    flex-wrap: wrap;
  }
  &__box {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    // margin: 0 auto;
    cursor: crosshair;
  }
  &__title {
    color: #2a254b;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    cursor: context-menu;
  }
  &__price {
    margin-top: -16px;
    color: #2a254b;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    cursor: not-allowed;
  }
  &__btn {
    margin: 0 auto;
    margin-top: 48px;
    width: 170px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #f9f9f9;
    cursor: pointer;
  }
  &__d {
    display: none;
  }
  &__wrap--d {
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__box--d {
    margin-top: 20px;
    cursor: crosshair;
  }
  &__img--d {
    cursor: cell;
  }
  &__title--d {
    margin-top: 24px;
    color: #2a254b;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    cursor: context-menu;
  }
  &__price--d {
    margin-top: 8px;
    color: #2a254b;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    cursor: not-allowed;
  }
  &__btn--d {
      margin: 0 auto;
    margin-top: 40px;
    display: flex;
    width: 342px;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    background: #f9f9f9;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .card__d {
    display: flex;
  }
  .card {
    display: none;
  }
}
@media screen and (max-width: 405px) {
  .card__btn--d { 
    width: 342px;
}
}