.hero {
  margin-top: 20px;
  background-image: url("../../imgs/Hero_Blocks.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: crosshair;

   &__box {
    width: 630px;
    height: 444px;
    display: flex;
    padding: 48px 61px 46px 56px;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
    background: #fff;
    cursor: alias;
  }
  &__title {
    color: #22202e;
    font-family: Clash Display;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    cursor: context-menu;
  }
  &__text {
    margin-top: 20px;
    color: #5b5676;
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    cursor: copy;
  }
  &__btn {
    margin-top: 157px;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background: #f9f9f9;
    color: #2a254b;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border: none;
    cursor: pointer;
  }

  &__d {
    display: none;
  }
  //dissabled hero
  &__box--d {
    display: flex;
    padding-top: 68px;
    flex-direction: column;
    gap: 32px;
    background: #fff;
    cursor: alias;
  }
  &__title--d {
    width: 341px;
    color: #2a254b;
    font-size: 24px;
    font-weight: 400;
    cursor: context-menu;
  }
  &__text--d {
    width: 341px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    cursor: copy;
  }
  &__btn--d {
    display: flex;
    width: 100%;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #2a254b;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    cursor: pointer;
  }
 
}
.img2 {
    background-size: cover;
    margin-top: 32px;
    cursor: crosshair;
  }
@media screen and (max-width: 768px) {
  //MD
  .hero__d {
    display: flex;
    flex-direction: column;
  }
  .hero {
    display: none;
  }
}
