.input {
background-image: url("../../imgs/Emailsign-up.png");
background-size: cover;
background-repeat: no-repeat;
margin-top: 60px;
background-color: #f9f9f9;
padding-top: 52px;
padding-bottom: 65px;
cursor: crosshair;

  &__wrap {
    padding-top: 68px;
    padding-bottom: 54px;
  }
  &__title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
    margin-bottom: 16px;
    cursor: context-menu;
  }
  &__text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    max-width: 470px;
    margin: auto;
    cursor: move;
  }
  &__int {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: alias;
  }
  &__input {
    padding: 17px 205px 17px 32px;
    background: #f9f9f9;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    border: none;
    cursor: text;
  }
  &__btn {
    padding: 16px 32px;
    background: #2a254b;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    height: 56px;
    cursor: pointer;
  }
  &__radio {
    margin-top: 30px;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 36px;
    line-height: 150%; /* 24px */
    cursor: copy;
  }
  &__check {
    margin-top: 0;
    color: #fff;
    // text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    // display: inline;
    cursor: pointer;
  }
  &__r {
    fill: #fff;
    background-blend-mode: multiply;
  }
  &__w {
    display: flex;
    gap: 8px;
    // justify-content: space-between;
  }
}
@media screen and (max-width: 756px) {
  .input {
    margin-top: 38px;
    padding-top: 48px;
    padding-bottom: 36px;
    background-color: #fff;

    &__wrap {
      padding: 0;
    }
    &__title {
      text-align: start;
      margin: 0;
      font-size: 20px;
    }
    &__text {
      text-align: start;

      justify-content: start;
      font-size: 13px;
    }
    &__int {
      text-align: start;
      margin-top: 64px;
    }
    &__input {
      padding: 17px 6px 17px 25px;
      font-size: 10px;
    }
    &__btn {
      font-size: 10px;
      padding: 16px 40px;
    }
    &__radio {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 568px) {
  //SM

  .input__radio {
    flex-direction: column;
    justify-content: start;
    text-align: start;
    font-size: 16px;
    margin-top: 20px;
    gap: 8px;
  }
}
